<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div id="alertPanel" style="text-align: center"></div>

<div class="container-fluid">
        <table class="table table-striped">
            <a class="btn btn-info" ui-sref="torresCreate"><span class="glyphicon glyphicon-plus-sign"></span>Añadir torre</a>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Id</th>
                    <th>Disponible</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="torre in torresRecords">
                    <td id="imagen" width="150"><img src="src/resources/images/torre.png" alt ="Generic placeholder image" height="170" width="150"/></td>
                    <td id="{{$index}}-id">{{torre.id}}</td>
                    <td id ="{{$index}}-disponible">
                        <div ng-if="torre.disponible == true">
                            Disponible
                        </div>
                        <div ng-if="torre.disponible == false">
                            No disponible
                        </div>
                    </td>
                    <td><a id="boton-irborrartorre" ui-sref="torreDelete({id: torre.id})" class="btn btn-danger">Borrar</a></td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-info" ui-sref="torresCreate"><span class="glyphicon glyphicon-plus-sign"></span>Añadir torre</a>
</div>
