<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="panel-group">
    <div class="panel-primary">
    <div class="panel-heading"><label>Pisos</label></div>
    
        <table class="table table-striped">
            
              <a class="btn btn-info" ui-sref="crearPiso({torreId: torreId})"><span class="glyphicon glyphicon-plus-sign"></span>Añadir piso</a>
              <a class="btn btn-info" ui-sref="torreList" align="right"><span class="glyphicon glyphicon-triangle-left"></span>Volver</a>
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Id</th>
                    <th>Detalle</th>
                    <th>Disponible</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="piso in pisosRecords">
                    <td id="imagen" width="150"><img src="src/resources/images/elevator.jpg" ui-sref="pisoDetail({pisoId: piso.id, torreId: torreId})" alt ="Generic placeholder image" class = "img-responsive" >
                    <td id="{{$index}}-id">{{piso.id}}</td>
                    <td><a id="boton-irpisos" ui-sref="pisoDetail({pisoId: piso.id, torreId: torreId})" class="glyphicon glyphicon-triangle-right"> Ver Detalle</a></td>
                    <td id ="{{$index}}-disponible">
                         <div ng-if="piso.disponible == true">
                            Disponible
                        </div>
                        <div ng-if="piso.disponible == false">
                            No disponible
                        </div>
                    </td>
                    <td><a id="boton-irborrapiso" ui-sref="pisoDelete({pisoId: piso.id, torreId: torreId})" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
                </tr>
            </tbody>
        </table>
         <a class="btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span>Añadir piso</a>
        </div>
        </div>
        </div>
    
</div>