<style>
    form.padding {
        padding-left: 1cm;
    }

</style>
<br>
<br>
<form class="padding" ng-submit="createTarjeta()" name="tarjeta">
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="nombreTarjeta" class="col-sm-2">Nombre compañía:</label>
            <input id="nombreTarjeta" required ng-model="nombreTarjeta" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="numeroTarjeta" class="col-sm-2">Numero tarjeta:</label>
            <input type="number" id="numeroTarjeta" required ng-model="numeroTarjeta" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-sm-4" ng-if="!tarjeta.$valid">
            <div class="alert alert-warning">
                <strong>Advertencia!</strong><p>Debe llenar todos los campos*</p>
            </div> 
        </div> 
    </div> 
    <div class="form-group row">
        <div class="form-group col-sm-12">
            <input ng-show="tarjeta.$valid" type="submit" value="Guardar" class="btn btn-success"/>
            <a class="btn btn-info" ui-sref="tarjetaList">Cancelar</a>
        </div>
    </div>
</form>
<div ng-if="edit" class="panel-group" id="theBooks">
    <div class="panel panel-info">
        <div class="panel-heading">Cuenta asociada</div>
        <div class="panel-body">
            <div id="div2" ondrop="angular.element(document.getElementById('theBooks')).scope().dropAdd(event)" ondragover="angular.element(document.getElementById('theBooks')).scope().allowDrop(event)">
                <label></label>
                <div ng-show="edit" >
                    <p draggable="true" ondragstart="angular.element(document.getElementById('theBooks')).scope().drag(event)" id="{{c.id}}">31</p>                                 
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-success">
        <div class="panel-heading">Todas las cuentas</div>
        <div class="panel-body">
            <div id="div1" ondrop="angular.element(document.getElementById('theBooks')).scope().dropDelete(event)" ondragover="angular.element(document.getElementById('theBooks')).scope().allowDrop(event)">
                <label></label>
                <div ng-repeat="book in allCuentasShow">
                    <p draggable="true" ondragstart="angular.element(document.getElementById('theBooks')).scope().drag(event)" id="{{book.id}}">{{book.id}}</p>                
                </div>
            </div>
        </div>
    </div>
</div>

