<style>
    form.padding {
        padding-left: 1cm;
    }

</style>
<br>
<br>
<form class="padding" ng-submit="createTarjeta()" name="tarjeta">
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="nombreTarjeta" class="col-sm-2">Nombre compañía:</label>
            <input id="nombreTarjeta" required ng-model="nombreTarjeta" class="col-sm-6"/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="numeroTarjeta" class="col-sm-2">Numero tarjeta: </label>
            <input type="number" id="numeroTarjeta" required ng-model="numeroTarjeta" class="col-sm-6" readonly/>
        </div>
    </div>
        <div class="form-group row">
        <div class="form-group col-md-6">
            <label for="cuentaActual" class="col-sm-2">Id actual de la cuenta:</label>
            <input type="number" id="idCurrentCuenta" required ng-model="currentCuenta" class="col-sm-6" readonly/>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-md-4">
            <label for="sel1" class="col-sm-2">Elija la nueva cuenta:</label>
            <select class="form-control" id="cuentaSelect" required ng-model="cuentaTarjeta" >
                <option>No cambiar</option>
                <option>Eliminar cuenta</option>
                <option ng-repeat="cuenta in allCuentasShow" id="{{cuenta.id}}">{{cuenta.id}}</option>
            </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="form-group col-sm-12">
            <input type="submit" value="Guardar" class="btn btn-success"/>
            <a class="btn btn-info" ui-sref="tarjetaList">Cancelar</a>
        </div>
    </div>
</form>


