
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="panel-group">
    <div class="panel-primary">
    <div class="panel-heading"><label>Cuentas</label></div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <br>
            <a class="btn btn-info" ui-sref="cuentaCreate">
                <span class="glyphicon glyphicon-plus-sign"></span> Crear una cuenta</a>
            <br>
        </div>
    
             <form ng-submit="buscarCuenta()" name="cuenta">
                        <div class="form-group col-md-12">
                            <br>
                            <b>Buscar por id de cuenta:</b>
                            <br>
                            <br>
                            <input id="idCuenta" type="number" required ng-model="cuentaBuscarId" class="col-sm-6" min="1"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input ng-show="cuenta.$valid" type="submit" value="Buscar" class="btn btn-success"/>
                        </div>
                </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id de la cuenta</th> 
                    <th>Valor de la renta a pagar</th>   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cuenta in cuentasRecords">
                    <td id="{{$index}}-id">{{cuenta.id}}</td>
                    <td id="{{$index}}-renta">{{cuenta.renta}}</td>  
                    <td><a id="boton-irdetailcuenta" ui-sref="cuentaDetail({cuentaId: cuenta.id})" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Ver</a>
                     <a ui-sref="cuentaUpdate({cuentaId: cuenta.id})"  class="btn btn-primary" ><span class="glyphicon glyphicon-edit"></span> Editar</a>
                    <a id="boton-irborrarcuenta" ui-sref="cuentaDelete({cuentaId: cuenta.id})" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
        </div>
   
</div>
