<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id de la cuenta</th> 
                    <th>Valor de la renta a pagar</th>   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cuenta in cuentasRecords">
                    <td id="{{$index}}-id">{{cuenta.id}}</td>
                    <td id="{{$index}}-renta">{{cuenta.renta}}</td>  
                    <td><a id="boton-irdetailcuenta" ui-sref="cuentaDetail({cuentaId: cuenta.id})" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span> Ver</a></td>
                    <td><a id="boton-irborrarcuenta" ui-sref="cuentaDelete({cuentaId: cuenta.id})" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Borrar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
