<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="panel-group">
    <div class="panel-primary">
    <div class="panel-heading"><label>Administradores</label></div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <br>
            <td><a id="boton-ircrearadmin" ui-sref="adminCreate" class="btn btn-info">Crear Administrador</a></td>
            <br>
            <br>
            <div class="container-fluid">
                <form ng-submit="buscarAdministrador()" name="admin">
                        <div class="form-group col-md-12">
                            <br>
                            <b>Buscar por documento del administrador:</b>
                            <br>
                            <br>
                            <input id="adminDocumento" type="number" required ng-model="adminBuscarDocumento" class="col-sm-6"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input ng-show="admin.$valid" type="submit" value="Buscar" class="btn btn-success"/>
                        </div>
                </form>
            <br>
            </div>
            <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Documento</th>    
                    <th>Username</th>  
                    <th>Nombre</th> 
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="admin in administradoresRecords">
                    <td id="{{$index}}-documento">{{admin.documento}}</td>
                    <td id="{{$index}}-username">{{admin.username}}</td>  
                    <td id="{{$index}}-nombre">{{admin.nombre}}</td>  
                    <td id="{{$index}}-password">{{admin.password}}</td>
                    <td><a id="boton-irdetailadmin" ui-sref="adminDetail({adminId: admin.documento})" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>Ver</a>
                    <a id="boton-iractualizaradmin" ui-sref="adminUpdate({adminId: admin.documento})" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                    <a id="boton-irborraradmin" ui-sref="adminDelete({adminId: admin.documento})" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Borrar</a></td>
                </tr>
            </tbody>
        </table>
         <div class="btn-group mr-2" role="group" aria-label="First group">
            <br>
            <td><a id="boton-ircrearadmin" ui-sref="adminCreate" class="btn btn-info">Crear Administrador</a></td>
            <br>
        </div>
        </div>
        </div>
        </div>
   
</div>
