<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createMensaje">Crear nuevo mensaje</label>
                <label ng-if="edit" id="editMensaje">Editar mensaje</label></div>
            <div class="panel-body">
                <form ng-submit="createMensaje()" name="mensaje">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="mensajeId" class="col-sm-2">ID:</label>
                            <input id="mensajeId" type="number" required ng-model="mensajeId" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="mensajeTitulo" class="col-sm-2">Titulo:</label>
                            <input type="text" id="mensajeTitulo" required ng-model="mensajeTitulo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="mensajeAsunto" class="col-sm-2">Asunto:</label>
                            <input type="text" id="mensajeAsunto" required ng-model="mensajeAsunto" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="mensajeMensaje" class="col-sm-2">Mensaje:</label>
                            <input type="text" id="mensajeMensaje" required ng-model="mensajeMensaje" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="mensajeAdmin" class="col-sm-2">IdAdmin:</label>
                            <select class="form-control" id="adminSelect" required ng-model="mensajeAdmin" >
                                <option ng-repeat="admin in todoslosadmins" id="{{admin.documento}}">{{admin.documento}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!mensaje.$valid">
                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>Ingrese todos los valores*</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="mensaje.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="mensajeList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


