<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="panel-group">
    <div class="panel-primary">
    <div class="panel-heading"><label>Mensajes</label></div>
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <br>
            <a id="boton-ircrearmensaje" ui-sref="mensajeCreate" class="btn btn-info">Crear Mensaje</a>
            <br>
            <br>
            <div class="container-fluid">
                <form ng-submit="buscarMensaje()" name="men">
                        <div class="form-group col-md-12">
                            <br>
                            <b>Buscar por titulo del mensaje:</b>
                            <br>
                            <br>
                            <input id="tituloMensaje" type="text" required ng-model="mensajeBuscarTitulo" class="col-sm-6" min="1"/>
                        </div>
                        <div class="form-group col-sm-12">
                            <input ng-show="men.$valid" type="submit" value="Buscar" class="btn btn-success"/>
                        </div>
                </form>
            <br>
            </div>
            <br>
            
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>    
                    <th>titulo</th>  
                    <th>asunto</th> 
                    <th>mensaje</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mensaje in mensajesRecords">
                    <td id="{{$index}}-documento">{{mensaje.id}}</td>
                    <td id="{{$index}}-username">{{mensaje.titulo}}</td>  
                    <td id="{{$index}}-nombre">{{mensaje.asunto}}</td>  
                    <td id="{{$index}}-password">{{mensaje.mensaje}}</td>
                    <td><a id="boton-irdetailmensaje" ui-sref="mensajeDetail({mensajeId: mensaje.id})" class="btn btn-info"><span class="glyphicon glyphicon-plus">Ver</a>
                    <a id="boton-iractualizarmensaje" ui-sref="mensajeUpdate({mensajeId: mensaje.id})" class="btn btn-primary"><span class="glyphicon glyphicon-edit">Editar</a>
                    <a id="boton-irborrarmensaje" ui-sref="mensajeDelete({mensajeId: mensaje.id})" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Borrar</a></td>
                </tr>
            </tbody>
        </table>
       <div class="btn-group mr-2" role="group" aria-label="First group">
            <br>
            <td><a id="boton-ircrearmensaje" ui-sref="mensajeCreate" class="btn btn-info">Crear Mensaje</a></td>
            <br>
        </div>
        </div>
        </div>
        </div>

    
</div>
